@charset "utf-8";
/* CSS Document */

#nav {
width:750px;
margin:0 auto;
list-style:none;
}
#nav li {
float:left;
border-right: 1px solid #bbb;
font-family:    sans-serif;
font-size:      1.5em;

}
#nav li:last-child {
    border-right: none;
}

#nav a {
color: #red;
display:block;
text-align:center;
width:175px; /* fixed width */
text-decoration:none;
color: white;
}
#nav ul {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
}

div.Navdiv {
    width: 700px;
    padding: 25px;
    margin: auto;
    height: 30px;
}
div.Ferrari {
  width: 580px;
  height: 300px;
  background-color: transparent;
  margin: auto;
}
img.Ferrari {
    display: block;
    margin: auto;
    width: 100%;
    height: 25%%;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}
div.PageWrap {
  position:fixed;
  width: 100%;
  height: 100%;
  background-color: black;
      border: 2px solid green;
      padding: 0;
      margin: 0;
}



div.LaferrariTitle {
  width: 580px;
  height: 100px;
  background-color: transparent;
  margin: auto;
  font-family;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  font-size: 70px;
  color: white;
}

div.Container {
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin: auto;
  border: 2px solid green;
  position:relative;
}

img.LaFerrari {
    display: block;
    margin: auto;
    width: 100%;
    height: 25%%;
    border: 5px solid green;
}

div.Carimage {
  width: 580px;
  height: 300px;
  background-color: transparent;
  border: 5px solid red;
}







div.Text1 {
  color: white;
  position: absolute;
right: 0px;
width: 300px;
border: 3px solid #73AD21;
padding: 10px;
}

#container{
    width:100%;
    height:1000px;
    position:relative;
    border:1px solid black;
}

div.topleft {
  background-color: blue;
  width: 50%;
  height: 33%;
  position: relative;

}


div.topright {
  background-color: green;
  width: 50%;
  height: 33%;
  display: inline-block;
  position: relative;
  margin-left: 50%;
  text-align: center;

}

div.middleleft {
  background-color: black;
  width: 50%;
  height: 33%;
  position: absolute;
  color: green;
}

div.middleright {
  background-color: green;
  width: 50%;
  height: 33%;
  position: relative;
  color: red;
  float: right;
  display: inline-block;

}

div.bottomcentre {
  width: 100%;
  height: 33%;
  color: red;
  background-color: blue;
}

.clearfix {
    overflow: auto;
}

div.Centeredtext {
  width: 100px;
    height: 200px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    position: static;
}

div#wrapper{
  background-color: transparent;
  width: 100%;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.Test{
height: 33%;
width: 50%;
float: left;
position: relative;
}

div#first{
  background-color: transparent;
}

#LaFerrari{
  margin: auto;
  width: 680px;
  height: 500px;
  position: relative;
  left: 110px;
  bottom: 100px;
}

div#second{
  background-color: transparent;
}

#textformat{
  color: white;
  margin-top: 110px;
  margin left: 10%;
  margin-right: 10%;
  text-align: center;
  top: 50px;
  font-family: sans-serif;
  font-style: italic;
  font-size: 25px;
}



div#third{
  background-color: transparent;
}

#Specs{
  color: white;
  align-items: center;
  font-family: sans-serif;
  font-style: italic;
  font-size: 25px;
  text-align: center;
  margin-top: 110px;
}


div#fourth{
  background-color: transparent;
}

#Engine{
  width: 500px;
  height: 300px;
  position: relative;
  left: 200px;
  top: 15px;

}

div#fifth{
  background-color: transparent;
  margin: auto;
}

#Hykersvid{
width: 560px;
height: 315px;
position: relative;
left: 35%;
top: 20%;
}

.Bottom{
height: 50%;
width: 100%;
float: left;
position: relative;

}

#Historyvid{
width: 660px;
height: 415px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 100px;

}
